<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuelDevs</title>
    <link rel="icon" type="image/x-icon" href="images/img2.ico" sizes="192x192"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script src="Jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">NuelDevs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#skillslink">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projectslink">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutlink">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactlink">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    
    <div class="j">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <br><br>

    <div class="container" id="projects">
        <div class="skills" id="skillslink">
            <p><strong id="join"><h2 style="text-align: center;">Skills</h2></strong></p><hr/>
            <div class="row">
                <div class="col-sm-6" style="border-right: 1px solid black;">
                    <div>
                        <h5>Backend Skills</h5>
                        <ol>
                            <li>
                                <strong>Node.js</strong>
                                <ul>
                                    <li>Express.js</li>
                                    <li>Mongoose.js</li>
                                    <li>Passport.js</li>
                                    <li>Multer.js</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Sockets.io</strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <p><h5>Frontend Skills</h5></p>
                        <ol>
                            <li><strong>HTML 5</strong></li>
                            <li><strong>CSS 3</strong>
                                <ul>
                                    <li>Bootstrap</li>
                                </ul>
                            </li>
                            <li><strong>Javascript</strong>
                                <ul>
                                    <li>React.js</li>
                                    <li>Next.js</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container" id="projects">
        <div class="jumbotron" id="projectslink">
            <p><strong id="join"><h2>Projects</h2></strong></p>
            <div class="row">
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/github.svg" id="git"/>
                        <p>GitHub Repository</p>
                        <a href="https://github.com/Nuel-C?tab=repositories" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/i.jpg" id="git" style="border-radius: 50%;"/>
                        <p>TslPos</p>
                        <a href="https://tslpos.herokuapp.com" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/clipboard.svg" id="git" style="border-radius: 50%;"/>
                        <p>Mediicare</p>
                        <a href="https://mediicare.herokuapp.com" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/raven.jpg" id="git" style="border-radius: 50%;"/>
                        <p>Raven Chat</p>
                        <a href="https://raven-chat.herokuapp.com" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/journal.png" id="git"/>
                        <p>Expense Tracker</p>
                        <a href="http://reactjs-expense-tracker.herokuapp.com" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/book.png" id="git"/>
                        <p>You Learn</p>
                        <a href="http://you-learn.herokuapp.com" target="_blank"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/empty.png" id="git"/>
                        <p>Empty Project</p>
                        <a href=""><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="aboutlink">
        <div class="jumbotron">
            <p><strong id="join"><h2>About Me</h2></strong></p>
          Hi, my name is Eni Emmanuel Chukwuka. I am a fullstack web developer. I love working with Javascript, mainly because it can be used for both Frontend and Backend development. I am currently a student of Computer Science at the University Of Benin, Nigeria. I love learning new things and i'm a quick learner.
        </div>
    </div>

    <div class="container" id="projects">
        <div class="jumbotron" id="contactlink">
            <p><strong id="join"><h2>Contact Information</h2></strong></p>
            <div class="row">
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/gmail.svg" id="git"/>
                        <p>E-mail</p>
                        emmanueleni.c@gmail.com
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/phone.jpg" id="git" style="border-radius: 50%;"/>
                        <p>Phone Number</p>
                        08147808160
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/twitter.svg" id="git"/>
                        <p>Twitter</p>
                        n_uell
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
                NuelDevs © 2021 
    </footer>
</body>
</html>