<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuelDevs</title>
    <link rel="icon" type="image/x-icon" href="images/img2.ico" sizes="192x192"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script src="Jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fgh">
            <div class="container">
            <a class="navbar-brand" href="#">
                     NuelDevs
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active">Email: emmanueleni.c@gmail.com</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Phone: +234 814 7808 160</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    
    <div class="j">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <br><br>
    <div class="container" id="lang">
        <h3>Web Technologies I Know</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="row r">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="images/html5.png" class="ddd"/>
                            </div>
                            <div class="col-lg-12">
                                <span id="uuu"><strong>HTML 5</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="images/css.png" class="ddd"/>
                            </div>
                            <div class="col-lg-12">
                                <span id="uuu"><strong>CSS 3</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="images/js.png" class="ddd"/>
                            </div>
                            <div class="col-lg-12">
                                <span id="uuu"><strong>Javascript/Node.js</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 g">
                <div class="container">
                    <p><h5>Frontend Skills</h5></p>
                    <ol>
                        <li><strong>HTML 5</strong></li>
                        <li><strong>CSS 3</strong>
                            <ul>
                                <li>Bootstrap</li>
                            </ul>
                        </li>
                        <li><strong>Javascript</strong>
                            <ul>
                                <li>React.js</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6 g" id="www">
                <div class="container">
                    <h5>Backend Skills</h5>
                    <ol>
                        <li>
                            <strong>Node.js</strong>
                            <ul>
                                <li>Express.js</li>
                                <li>Mongoose.js</li>
                                <li>Passport.js</li>
                                <li>Multer.js</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
    
        </div>
    </div><br><br><br><br><br>

    <div class="container" id="projects">
        <div class="jumbotron">
            <p><strong id="join"><h2>Projects</h2></strong></p>
            <div class="row">
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/github.svg" id="git"/>
                        <p>GitHub Repository</p>
                        <a href="https://github.com/Nuel-C?tab=repositories"><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/empty.png" id="git"/>
                        <p>Empty Project</p>
                        <a href=""><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="github">
                        <img src="./images/empty.png" id="git"/>
                        <p>Empty Project</p>
                        <a href=""><button class="btn btn-success">Visit Site</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <p><strong id="join">About ME</strong></p>
          Hi, my name is Eni Emmanuel Chukwuka. I am a fullstack web developer. I love working with Javascript, mainly because it can be used for both Frontend and Backend development. I am currently a student of Computer Science at the University Of Benin, Nigeria. I love learning new things and i'm a quick learner.
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-expand-md fgh">
            <div class="container">
            <a class="navbar-brand" href="#">
                     NuelDevs © 2021
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active">Email: emmanueleni.c@gmail.com</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Phone: +234 814 7808 160</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </footer>
</body>
</html>